.plano-imagen-planos1{
    width: 70px;
    height: 100px;
}

.cardplanos-parrafo1{
    font-size: 20px;
    text-align: start;
}

.cardplanos-parrafo2{
    font-size: 20px;
    text-align: end;
}

@media only screen and (min-width: 375px) {
    .titulo-plano{
        font-size: 30px;
        
    }

    .cardplanos-parrafo1{
        font-size: 20px;
    }

    .cardplanos-parrafo2{
        font-size: 20px;
    }


    .plano-imagen-plano1{
        width: 70px;
        height: 100px;
    }
    
  }



  
  @media only screen and (min-width: 425px) {
   .titulo-plano{
        font-size: 32px;
        
    }

    .cardplanos-parrafo2{
        font-size: 20px;
    }


    .plano-imagen-plano1{
        width: 70px;
        height: 100px;
    }

  }



  
  @media only screen and (min-width: 768px) {
  .titulo-plano{
        font-size: 34px;
        
    }

   
    
    .plano-imagen-planos1:hover{
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
    width:80%;
    height: 400px;
    position:absolute; 
    z-index:2; 
    left:27px; 
    top:3em; 
    margin: 0 0 0 5em;
    }
    

    .cardplanos-parrafo1{
        font-size: 25px;
    }

    .cardplanos-parrafo2{
        font-size: 25px;
    }

    .plano-imagen-planos1{
        width: 100px;
        height: 100px;
    }

    .Planos{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .cardPlanos1{
        width: 90%;
        height: 150px;
    }

    .cardPlanos2{
        width: 90%;
        height: 150px;
    }


  }

  
  @media only screen and (min-width: 1024px) {
    .titulo-plano{
        font-size: 36px;
        
    }

    .cardplanos-parrafo1{
        font-size: 35px;
    }

    .cardplanos-parrafo2{
        font-size: 35px;
    }


    .plano-imagen-planos1{
        width: 150px;
        height: 150px;
    }

    .cardPlanos1{
        width: 90%;
        height: 200px;
    }

    .cardPlanos2{
        width: 90%;
        height: 200px;
    }

  }


  
  @media only screen and (min-width: 1366px) {
    .titulo-plano{
        font-size: 38px;
        
    }

    .cardplanos-parrafo2{
        font-size: 38px;
    }


    .cardPlanos1{
        height: 250px;
    }

    .cardPlanos2{
        height: 250px;
    }


    .plano-imagen-planos1{
        width: 280px;
        height: 210px;
    }

  }
  