@import '../../components/app/App.css';

.Navbar{
    font-size: 9px;
    width: 100%;
    height: 50px;
}


.Navbar-contenedor-nav{
    height: auto;
}

.navbar-ul{
    margin-left: -10px;
    height: 30px;
}

.navbar-imagen-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 7px;
}