@import "../app/App.css";

.Footer {
  background-color: black;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;
margin:auto;
}
.contenedor-caja-redes {
  font-size: 10px;
}

.footer-redes-titulo {
  font-size: 10px;
}

.main-redes-iconos {
  color: aliceblue;
}

.Footer-span {
  color: white;
  font-size: 7px;
  font-weight: 900;
  font-family: var(--parrafo-2);
}



@media only screen and (min-width: 375px) {
  .Footer {
    height: 85px;
  }

  .Footer-span {
    font-size: 12px;
  }

  .contenedor-caja-redes {
    font-size: 12px;
  }

  .footer-redes-titulo {
    font-size: 12px;
  }

  .main-redes-iconos {
    color: aliceblue;
    font-size: 12px;
  }
}

@media only screen and (min-width: 425px) {
  .Footer {
    height: 100px;
  }

  .Footer-span {
    font-size: 14px;
  }

  .contenedor-caja-redes {
    font-size: 14px;
  }

  .footer-redes-titulo {
    font-size: 14px;
  }

  .main-redes-iconos {
    color: aliceblue;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .Footer {
    height: 130px;
  }

  .Footer-span {
    font-size: 17px;
  }

  .contenedor-caja-redes {
    font-size: 17px;
  }

  .footer-redes-titulo {
    font-size: 17px;
  }

  .main-redes-iconos {
    color: aliceblue;
    font-size: 17px;
  }
}

@media only screen and (min-width: 1024px) {
  .Footer {
    height: 150px;
  }

  .Footer-span {
    font-size: 20px;
  }

  .contenedor-caja-redes {
    font-size: 20px;
  }

  .footer-redes-titulo {
    font-size: 20px;
  }

  .main-redes-iconos {
    color: aliceblue;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1366px) {
  .Footer {
    height: 150px;
  }

  .Footer-span {
    font-size: 25px;
  }


  .contenedor-caja-redes {
    font-size: 25px;
  }

  .footer-redes-titulo {
    font-size: 25px;
  }

  .main-redes-iconos {
    color: aliceblue;
    font-size: 25px;
  }
}
