.render-contenedor-imagen-render{
width: 50%;
height: 50%;
}


.render-imagen-Render1{
    width: 50px;
}

.render-imagen-Render2{
    width: 50px;
}

.cardRender-parrafo1{
font-size: 6px;
}

.cardRender-parrafo2{
    font-size: 6px;
}