.render-contenedor-imagen-render{
width: 50%;
height: 50%;
}


.render-imagen-Render1{
    width: 70px;
    height: 100px;
}

.render-imagen-Render2{
    width: 70px;
    height: 100px;
}

.cardRender-parrafo1{
font-size: 10px;
}

.cardRender-parrafo2{
    font-size: 10px;
}