.render-contenedor-imagen-render{
width: 50%;
height: 50%;
}


.render-imagen-Render1{
    width: 70px;
    height: 100px;
}

.render-imagen-Render2{
    width: 70px;
    height: 100px;
}

.cardRender-parrafo1{
font-size: 12px;
text-align: start;
}

.cardRender-parrafo2{
    font-size: 12px;
    text-align: end;
}

@media only screen and (min-width: 375px) {
        .render-imagen-Render1{
            width: 80px;
            height: 120px;
        }
        
        .render-imagen-Render2{
            width: 70px;
            height: 100px;
        }
        
        .cardRender-parrafo1{
        font-size: 14px;
        text-align: start;
        }
        
        .cardRender-parrafo2{
            font-size: 14px;
            text-align: end;
        }
    
  }



  
  @media only screen and (min-width: 425px) {
  
    
        .render-imagen-Render1{
            width: 100px;
            height: 140px;
        }
        
        .render-imagen-Render2{
            width: 90px;
            height: 120px;
        }
        
        .cardRender-parrafo1{
        font-size: 16px;
        }
        
        .cardRender-parrafo2{
            font-size: 16px;
        }

        
  }



  
  @media only screen and (min-width: 768px) {
    .cardRenders1{
        width: 90%;
        height: 200px;
    }

    .cardRenders2{
        width: 90%;
        height: 200px;
    }

    .contenedor-Renders{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .render-imagen-Render1{
        width: 120px;
        height: 160px;
    }
    
    .render-imagen-Render2{
        width: 120px;
        height: 160px;
    }
    
    .cardRender-parrafo1{
    font-size: 18px;
    }
    
    .cardRender-parrafo2{
        font-size: 18px;
    }

  }

  
  @media only screen and (min-width: 1024px) {
    .cardRenders1{
        width: 90%;
        height: 250px;
    }

    .cardRenders2{
        width: 90%;
        height: 250px;
    }

    .contenedor-Renders{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .render-imagen-Render1{
        width: 160px;
        height: 200px;
    }
    
    .render-imagen-Render2{
        width: 160px;
        height: 200px;
    }
    
    .cardRender-parrafo1{
    font-size: 22px;
    }
    
    .cardRender-parrafo2{
        font-size: 22px;
    }

  }


  
  @media only screen and (min-width: 1366px) {
    .cardRender-parrafo1{
        font-size: 25px;
        }
        
        .cardRender-parrafo2{
            font-size: 25px;
        }

        .render-imagen-Render1{
            width: 300px;
            height: 220px;
        }
        
        .render-imagen-Render2{
            width: 300px;
            height: 220px;
        }

  }
  